<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125151030-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-125151030-2');
</script>
<div class="mainBodyContainer">
    <br/>
    <div style="text-align:center">
      <h1 class="mat-display-1">
        Welcome to the {{ title }}!
      </h1>
    </div>
    <div style="text-align:center">
      <img src="assets/Dialogflow_logo.svg" width=400>
    </div>
  <div class="dialogflowItem">
    <iframe width="350" height="430" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/a5cdc60b-de5f-46b4-be59-3d99a6f55120"></iframe>
  </div>
</div>

